# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ruben\Data Science\Minor Data Science - Introduction to Data Science\Case beschrijvingen\Case 3\DSM_IDS_Case_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
